[2016-04-08 09:04] philolo1 opened #2 "ons-splitter: collapse=true => collapse='collapsed'"

[2016-04-08 09:04] philolo1 opened #3 "check properties for ons-carousel"

[2016-04-12 08:13] #2 closed

[2016-04-12 08:13] philolo1 opened #4 "Support ClassName attributes"

[2016-04-13 03:46] philolo1 opened #5 "Support Modal"

[2016-04-14 06:47] philolo1 opened #6 "Page support on-infinite-scroll"
https://onsen.io/2/reference/ons-page.html

[2016-04-20 02:31] #4 closed

[2016-04-22 05:11] philolo1 opened #7 "Support ons-range"

[2016-04-22 05:11] philolo1 opened #8 "Support ons-progress-bar"

[2016-04-22 05:12] philolo1 opened #9 "Support ons-progress-circular"

[2016-04-22 05:13] philolo1 opened #10 "Improve handling of boolean properties"
[code]

is not enough, for example if i have `<icon spin />` and an `<icon />`, react does its change algorithm and sees no changes for real, so what we actually have to do is something like that:

[code]

[2016-04-23 09:19] mishoboss opened #11 "JsMutationObserver Error"
This is what I get when I do **import Ons from 'react-onsenui';**:

`CustomElements.js:343Uncaught TypeError: Cannot set property 'JsMutationObserver' of undefined`

[2016-04-24 09:45] argelius commented on #11
Thanks @mishoboss ! We will take a look at it.

[2016-04-24 20:59] mishoboss commented on #11
Hello, using Chrome on desktop for now (development). Updated to latest onsenui and react-onsenui and tested with react-kitchensink - all good now.

[2016-04-25 01:43] philolo1 commented on #11
Closing it for now, if you have difficulties again, feel free to open the issue or create a new one.

[2016-04-25 01:43] #11 closed

[2016-04-27 08:55] #3 closed

[2016-04-27 11:05] argelius opened #12 "The `onDestroy` prop is not fired on Navigator pop"
It seems like the `onDestroy` prop doesn't fire when the Page is popped from the Navigator.

[2016-04-27 12:42] argelius opened #13 "Add `index` prop to `Carousel` component"
Right now there is no way to programmatically control the carousel.

I think we should add a prop to do this. I guess `index` is a good name and we can get rid of `initialIndex` since we can just set `initial-index` to current value of `index` when the carousel is mounted.

I made a quick test and it seems to work fine. Haven't pushed anything because I'm not sure what to do with `initialIndex`.

[2016-04-28 02:19] philolo1 commented on #13
if it works fine, i don't think we need initial index.

[2016-04-28 02:19] #8 closed

[2016-04-28 02:23] philolo1 commented on #13
@argelius the only problem i see is that then people need to listen to the postChange event and update the index to keep it consistent when the user swipes.

[2016-04-28 04:23] #7 closed

[2016-04-28 22:32] philolo1 commented on #13
done

[2016-04-28 22:32] #13 closed

[2016-04-29 04:19] #12 closed

[2016-04-29 04:19] #9 closed

[2016-05-02 21:02] corneyl opened #14 "Warning: Failed propType: Required prop `renderPage` was not specified in `Navigator`."
The following code yields this error: `Warning: Failed propType: Required prop ``renderPage`` was not specified in Navigator. Check the render method of MainNavigation.` I'm using react-onsenui 0.1.1. I also tried with 0.0.17 and it turns out that there the problem does not occur.

The used code is from the blog example: https://onsen.io/blog/react-onsen-ui-navigator-tabs/

[code]

[2016-05-02 21:06] corneyl commented on #14
Problem starts at version 0.0.19

[2016-05-03 04:37] argelius commented on #14
Thanks @corneyl ! The `renderScene` prop was renamed to `renderPage`.

We will be releasing a website with docs pretty soon. Thanks for trying it out :)

We are very grateful for all reports we get.

[2016-05-03 04:37] #14 closed

[2016-05-03 04:38] argelius commented on #10
I guess this solved by doing

[code]

[2016-05-03 05:33] philolo1 commented on #10
yeah or using the Util functions, just a reminder that i will need to
refactor.

2016-05-03 13:38 GMT+09:00 Andreas Argelius <notifications@github.com>:

[2016-05-03 08:31] argelius opened #15 "Navigator doesn't support `animationOptions` prop"
The Navigator component should support this prop.

[2016-05-03 20:46] corneyl opened #16 "Splitter component does not render when pushing page"
I have created this page based upon [this](https://onsen.io/blog/react-onsen-ui-navigator-tabs/) example:
[code]
But when pushing this page, the following error occurs:
`Warning: Failed propType: Invalid argument supplied to oneOf, expected an instance of array. Check the render method of SettingsPage.`
When I change the render function to e.g. `return (<Ons.Page>Test</Ons.Page>)`, no error occurs

[2016-05-04 05:36] argelius commented on #16
Hi!

[code]

This error has been fixed. Are you using the latest version?

For pages pushed on top of the `Navigator` they all need to be wrapped in a `Page` component. Try wrapping the `Splitter` component in `Page` and I think it will work.

Thanks for pointing me to the blog post. Some things have changed so I will update it.

[2016-05-04 05:36] #16 closed

[2016-05-04 05:37] argelius opened #17 "Emit error message when pushing non-Page components on top of the Navigator"
Right now it will fail silently when pushing something that is not a `Page` component on top of the Navigator. Let's add a nice error message since it's a bit confusing.

[2016-05-04 06:19] philolo1 commented on #17
Should be done in the core, because otherwise we will need to partially
render the component.

On Wednesday, 4 May 2016, Andreas Argelius <notifications@github.com> wrote:

[2016-05-04 08:36] argelius commented on #17
@philolo1 That's true. Let's add it to the core :)

[2016-05-04 08:36] #17 closed

[2016-05-06 02:04] philolo1 commented on #17
@argelius did it in the core but also catched some errors in the navigator.

[2016-05-06 02:55] #15 closed

[2016-05-06 06:19] #10 closed

[2016-05-10 13:50] plrthink opened #20 "how to disable default behaviour when clicking BackButton component?"
I'm using react-onsenui with redux. One problem that I am currently facing is I need to dispatch some action when pages changing. I am using BackButton component in Toolbar, it seems like the animation is broken if I simply add a onClick props on BackButton component. So is there a way to allow me overwrite the default onClick handler on BackButton component?

[2016-05-10 14:56] argelius commented on #20
@pirthink We want to change this as well. Right now it's hard to bind some action to the back button but we want to make it customizable.

This will definitely be added in the next version.

[2016-05-11 04:34] philolo1 opened #21 "Support ons-col and ons-row"
I think we forgot to add it.

[2016-05-11 07:48] shota-kobayashi opened #22 "When LazyList's length is changed in componentDid/WillMount, LazyList isn't rerendered."
(I'm not really sure if this is a any issue or my implement is wrong...)
Below code is from kitchensink with a little changes. It shows a blank page although when I click  LazyList area, it'll show lists correctly with 10 items.

[code]

"onsenui": "2.0.0-rc.4",
"react-onsenui": "0.2.1",
"react": "^15.0.2",
"react-dom": "^15.0.2",

Chrome 50.0.2661.94 (64-bit)

[2016-05-11 08:08] argelius commented on #6
Let's do this!

[2016-05-11 08:09] argelius commented on #6
:doge:

[2016-05-11 08:12] shota-kobayashi commented on #22
Sorry, some of my explanation is wrong. The code is ok if I use componentWillMount. When I change the length in componetDidMount or some api's callback, it doesn't work.

[2016-05-11 08:49] philolo1 commented on #22
Thanks for reporting @shota-kobayashi, i can reproduce, its a bug.

[2016-05-11 08:52] philolo1 commented on #22
We will release a new version that should fix it.

[2016-05-11 09:01] philolo1 commented on #22
@shota-kobayashi can you try the newest version whether it works react-onsenui@latest?

[2016-05-11 09:03] philolo1 commented on #6
we should do this differenly just closing for now.

[2016-05-11 09:03] #6 closed

[2016-05-11 09:26] shota-kobayashi commented on #22
@philolo1 It worked! Thanks!

[2016-05-11 09:33] argelius commented on #22
@shota-kobayashi Glad you were able to solve it :)

Closing this now.

[2016-05-11 09:33] #22 closed

[2016-05-11 13:04] corneyl opened #23 "<List> element does not get material-modifier when used on Android device"
When I use the following code and view it in the Chrome using an Android device, `<ons-list>` does not get a `modifier="android"` attribute, and therefore the styling does not change:
[code]
Result:
[code]

[2016-05-11 13:17] jonas-arkulpa opened #24 "Input element 'disabled' prop not working correctly"
The 'disabled' property of an Input element does not respect the set value.
`<Input type='text' placeholder='Email' float disabled={false} />`
The exact same thing is working with a button.
`<Button ripple disabled={false}>Login</Button>`
This is needed to disable the elements according to states.

[2016-05-11 13:35] philolo1 commented on #24
@jonas-arkulpa thanks for reporting, I forgot to support this property. Try the newest version of react-onsenui@latest and see whether the issue is gone.

[2016-05-11 14:13] jonas-arkulpa commented on #24
@philolo1 thanks for the fast answer and fix.
I apologize I do not have the time to test atm.
Will report back as soon as I work again at this project.

[2016-05-12 03:15] philolo1 commented on #23
@corneyl  Thank you for reporting the bug, I think i have a fix for it, but i will need to test before releasing a new version. Will let you know as soon as i released a new version.

[2016-05-12 03:35] philolo1 commented on #23
@corneyl please update to the newest version and let me know if you have still the issue reactonsenui@latest

[2016-05-12 12:10] corneyl commented on #23
Issue is fixed in the latest master.

[2016-05-12 12:33] philolo1 commented on #23
@corneyl  great i could help!

[2016-05-12 12:33] #23 closed

[2016-05-12 13:03] jonas-arkulpa commented on #24
@philolo1
The issue is gone. Thanks for the help.

[2016-05-12 13:12] philolo1 commented on #24
@jonas-arkulpa great I could resolve this quickly!

[2016-05-12 13:12] #24 closed

[2016-05-12 14:02] jonas-arkulpa opened #25 "Grid not working"
I try to implement Row and Col elements.
First Question: Is there a difference between [Col](https://onsen.io/v2/docs/react/Col.html) and [Column](https://onsen.io/v2/docs/react/Column.html) and which one should I use?

As soon as I insert a Row element I get the following errors:

`Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM

[2016-05-12 14:11] philolo1 commented on #25
Oh its an error, please look at Col and Row. Check out the repo demo folder

On Thursday, 12 May 2016, jonas-arkulpa <notifications@github.com> wrote:

[2016-05-12 14:16] philolo1 commented on #25
@jonas-arkulpa probably you need to put it inside a page.
<Page>
<Row>
<Col />
</Row>
</Page>

Have a look here https://github.com/OnsenUI/react-onsenui/blob/master/demo/examples/RowColumn.js

[2016-05-12 14:19] jonas-arkulpa commented on #25
@philolo1 I do it exactly the same as explained in your example link.
It is already in a page element.

[2016-05-12 14:21] #21 closed

[2016-05-12 14:22] argelius commented on #25
@jonas-arkulpa I think the website was updated before the actual version was released on npm.

It looks from your error that `Row` or `Col` is undefined so I think the reason is that you are using the previous version.

Try updating to the latest version and it should work. This component was added earlier today ;)

[2016-05-12 14:25] argelius commented on #25
I made an example on Codepen and it looks like there is no problem in the latest version:

https://codepen.io/onsen/pen/aNMgVR

[2016-05-12 14:35] jonas-arkulpa commented on #25
@argelius I updated from 0.2.5 to 0.2.6 and now it's working correct.
Thanks for your help.

[2016-05-12 14:39] argelius commented on #25
@jonas-arkulpa Glad to be able to help! :+1:

[2016-05-12 14:40] #25 closed

[2016-05-17 10:15] argelius commented on #20
@plrthink

This has been fixed now. Adding an `onClick` prop will override the default behavior.

This example shows how it can be used:
https://github.com/OnsenUI/react-onsenui/blob/master/demo/examples/BackButton.js

[2016-05-17 10:15] #20 closed

[2016-05-20 08:59] philolo1 opened #26 "Update Input values does not work"
If the user sets the value of Input, it does not update.
A possible fix might be
[code]

but we need to investigate first.

[2016-05-23 10:26] #26 closed

[2016-05-23 10:27] argelius commented on #26
I added some normal `<input>` tags to the example so we can easily checke that `input` and `Input` behave the same.

[2016-05-30 12:10] rockneverdies55 opened #29 "replacePage in navigator?"
Can you guys add `replacePage` hook into the navigator? Underlying onsen navigator has the function available, I don't know why it wasn't put into the react-onsenui component.

[2016-05-31 00:58] philolo1 commented on #29
Thank you @rockneverdies55 we will look into that, its probably not a big change than can be made quite fast.

[2016-05-31 06:12] philolo1 commented on #29
@rockneverdies55 I published a new version you can use replacePage how you would pushPage.

[2016-05-31 13:58] #29 closed

[2016-05-31 14:08] rockneverdies55 commented on #29
:+1: thanks.

[2016-06-02 11:53] matoilic opened #31 "Splitter content in split mode overlays the sidebar"
When putting the splitter into "split" mode the style of ons-splitter-content is not updated and missing the `left` style property. Thus, it overlays the sidebar. You can see this behaviour in the tutorial https://onsen.io/tutorial/index.html?framework=react&category=Reference&module=splitter, when you set `isCollapsed` to `false`.

When using the standalone version without React it works properly

[2016-06-03 09:09] argelius commented on #31
Thanks for reporting @matoilic !

We will take a look at this issue.

[2016-06-07 07:53] philolo1 commented on #31
@matoilic  I looked into your issues and did a pull request to the original OnsenUI repository (https://github.com/OnsenUI/OnsenUI/pull/1442). Ones that is merged, we will inform you. Is this an urgent issue, if so we can search for a workaround for now.

[2016-06-07 10:47] argelius commented on #31
@matoilic This has been fixed now and will work in the next version.

[2016-06-07 20:26] matoilic commented on #31
Perfect. I'll test it as soon as it's out.

[2016-06-08 15:39] airamrguez opened #33 "pushPage renders new pages twice."
When I call `navigator.pushPage` it calls `renderPage` twice on the target component. This causes weird transition animations through pages because the component returns to it's initial state before starting the page transition. I suspect that this is also causing flickering on the iPad.

[2016-06-09 03:11] philolo1 commented on #33
@airamrguez thank you for your work on fixing these issues by yourself. I will look into your code to test whether it works as expected. I am not sure why we did that initially, maybe because we did that on the original navigator in onsenui.

[2016-06-09 08:04] #33 closed

[2016-06-09 08:16] argelius commented on #31
@matoilic We just released a new version and this should be fixed now. Please open again if you're still having trouble.

[2016-06-09 08:16] #31 closed

[2016-06-10 03:48] #5 closed

[2016-06-10 04:23] argelius opened #36 "Replace fish doc generation script with npm script"
Not everyone has fish installed so we should rewrite it in JS.

[2016-06-13 05:24] #36 closed

[2016-06-13 13:14] corneyl opened #38 "Splitter component does not switch to split mode when in landscape orientation"
Using the following code, the `Splitter` component does not switch to split mode when the device (or browser) is in landscape mode, although the attribute `collapse="portrait"` is present.
[code]

__Environment__
onsenui@2.0.0-rc.10
react-onsenui@0.4.1
react@15.1.0

[2016-06-14 03:28] philolo1 commented on #38
@corneyl `isCollapse` is actually setting the property `collapse`, maybe we should change that behaviour. So to make it working, please remove `isCollapse` property:

[code]

[2016-06-15 08:05] argelius commented on #38
@corneyl A fix for this has been merged now.

Instead of a boolean `isCollapsed` prop we changed to a `collapse` prop that both supportes boolean values and strings.

[2016-06-15 08:05] #38 closed

[2016-06-15 08:07] argelius opened #40 "Add React rules for eslint"
Right now we only have some simple rules for JSX and React. We want to enforce a strict standard also for JSX so please add some rules that enforce a nice style for JSX.

[2016-06-15 09:02] corneyl commented on #38
Thanks!

@philolo1 I had tried before without `isCollapsed={true}`, but then the menu never collapsed. So possibly the options `isCollapsed` and `collapse` conflicted in some way.

[2016-06-15 09:07] philolo1 commented on #38
Yes ones we release the new version you just use collapse.

On Wednesday, 15 June 2016, corneyl <notifications@github.com> wrote:

[2016-06-17 04:34] argelius opened #41 "Run tests on CircleCI"
We should add a `circle.yml` file and add this repo to CircleCI.

[2016-06-18 17:43] shprink opened #42 "SplitterSide isOpen on init does not work"
Using `isOpen={true}` on a `SplitterSide`, I am expecting that the menu will be opened on render. It is not

[code]

Try it out https://onsen.io/tutorial/index.html?framework=react&category=Reference&module=splitter

[2016-06-19 11:41] damonmcminn opened #44 "<Dialog /> does not display"
Using version `0.5.2`:

When `<Dialog />` property `isOpen` set to `true` the dialog does not display. The underlying `<ons-dialog>` element has an inline style of `display: none`. In version `0.4.1` manually removing this caused the dialog to display however in the current version this is no longer the case.

[2016-06-19 21:29] mishoboss commented on #44
Experienced the same behaviour

[2016-06-19 21:31] mishoboss opened #45 "Error when closing Dialog"
`util.js:247 Uncaught SyntaxError: Unexpected token (
index.js:275(anonymous function) @ index.js:400(anonymous function) @ animator.js:140_dequeueTransition @ animit.js:474done @ animit.js:467(anonymous function) @ animit.js:411_dequeueTransition @ animit.js:474done @ animit.js:467(anonymous function) @ animit.js:529fn @ animit.js:66`

[2016-06-20 00:09] philolo1 commented on #45
Thanks for reporting! This is actually a bug in chrome due to some naming
issues of the event, but it does not cause any error.

On Monday, 20 June 2016, mishoboss <notifications@github.com> wrote:

[2016-06-20 00:10] philolo1 commented on #44
Thank you both, we will look into it today!

On Monday, 20 June 2016, mishoboss <notifications@github.com> wrote:

[2016-06-20 02:04] philolo1 commented on #44
@mishoboss @damonmcminn So you start your dialog with isOpen={true}? We have examples where we set it from false to true and that works https://github.com/OnsenUI/react-onsenui/blob/master/demo/examples/Dialog.js, i think the issue/bug is that you set it at the beginning, I will look more deeply.

[2016-06-20 02:57] #44 closed

[2016-06-20 03:02] philolo1 commented on #44
@mishoboss @damonmcminn i fixed the issue and will do a new release soon, I will tag you ones its released.

[2016-06-20 03:02] #42 closed

[2016-06-20 03:10] philolo1 commented on #44
@mishoboss @damonmcminn  please try the new version whether it works for you, otherwise feel free to open the issue again.

[2016-06-20 03:11] philolo1 commented on #45
@mishoboss closing this issue since its a chrome bug,

[2016-06-20 03:11] #45 closed

[2016-06-20 03:11] philolo1 commented on #45
if this causes any real error feel free to open the issue again.

[2016-06-20 05:45] mishoboss commented on #44
It's fixed! Thanks!

[2016-06-20 05:46] mishoboss commented on #45
Seems not causing any real issues, just a nasty console error log.

[2016-06-20 06:33] argelius commented on #45
@philolo1 @mishoboss Maybe we should take a look at this again. The error message is very ugly even if it doesn't do anything... :(

[2016-06-20 06:41] damonmcminn commented on #44
@philolo1 you were correct that it `isOpen` was set to `true` at initial render.

Thanks!

[2016-06-20 06:43] argelius commented on #45
Apparently it is caused by emitting an event with the name `cancel`. Chrome doesn't like that name :)

[2016-06-20 07:46] #41 closed

[2016-06-20 07:48] argelius opened #46 "Add `index` prop to Tabbar component"
Right now the only way to switch tabs programatically is to use the methods. To make the Tabbar component easier to integrate with things like Redux and routing I propose adding an `index` prop and removing the `initialIndex` prop since it will be superfluous.

[code]

[2016-06-20 19:58] bearcanrun commented on #46
This would be super useful. I've hackily used the methods, but then I get warning: setState(...): Cannot update during an existing state transition — so I'm obviously not integrating them right. 'index' prop would super simplify that though!

[2016-06-21 01:35] philolo1 commented on #46
@bearcanrun this error occurs most of the time if one forgets that setState is asynchronous. I will look into this index feature.

[2016-06-21 10:04] argelius commented on #45
@mishoboss We have released a new version that fixes this error.

[2016-06-23 06:06] philolo1 commented on #40
I have added some but we can definetly improve here :).

[2016-06-23 06:10] argelius commented on #40
Thanks! :)

[2016-06-28 16:40] mishoboss opened #53 "Any proper way to set dialog width and height?"
Any proper way to set dialog width and height?

[2016-06-28 21:08] shprink opened #54 "Navigator events"
Hello!

Seems like the navigator events (prepush, postpush, prepop, postpop) are not implemented on React.

If we could have something like this it would be great!

[code]

[2016-06-29 03:34] #54 closed

[2016-06-29 06:46] philolo1 commented on #53
Right now you cannot set the style, we will try to fix it in `onsenui`, until then, you can set the properties by css classes

[code]

[2016-06-29 07:10] mishoboss opened #56 "Popover with target in Dialog"
Not sure if this issue is because of react-onsenui or Onsen. The problem is Popover miscalculates the right positioning when target is placed in Dialog. My wild guess is it can't position itself well when the target is placed in another absolute positioned container.

[2016-06-29 07:21] argelius commented on #56
@mishoboss Thanks for reporting! I think you are correct.

Since this bug is in the Onsen UI repo I will create an issue there and close this.

The new issue is here: https://github.com/OnsenUI/OnsenUI/issues/1488

[2016-06-30 07:41] philolo1 opened #57 "BottomToolbar : not setting className"
This is due to the core, if the bottom toolbar is already attached at the right position, the class `page-with-bottom-toolbar` is not added to page.

[2016-06-30 22:08] romulof opened #58 "Navigator with React Router"
For what I’ve read, the `Navigator` component manages routing, but my app already has `react-router` for this task. Is it possible for them to be “friends”?

An example would be much appreciated.

[2016-07-01 02:07] philolo1 commented on #58
@romulof do you have already navigation in react-router. Then you could just use `Pages`, otherwise i think @argelius tried to build something with it, but not sure what the progress was.

[2016-07-01 02:30] argelius commented on #58
@romulof @patrick I was trying to integrate the `Navigator` component with `react-router` but the code was very hacky.

Maybe I will make another attempt and see if it's possible to create a wrapper component that you can use together with `react-router`.

In the end we will probably create a new component with an API that better integrates with things like `react-router` and Redux. Right now the

[2016-07-01 03:08] #56 closed

[2016-07-01 09:34] argelius commented on #56
@mishoboss We tried reproducing this but was unable to. Can you provide some code that reproduces is?

Also, what kind of device and what OS version are you running on? Does it happen in all browsers?

[2016-07-01 13:40] romulof commented on #58
I had the same thoughts looking at the APIs.

`react-router` already have the mechanisms to render top, bottom toolbars and animation, but it'll be a total rewrite of `Navigator` :/

Currently I'm really tight on time, but in some near future I might contribute with a `"RouterNavigator"`.

Thanks for the help.

[2016-07-01 19:58] romulof opened #59 "No support for server rendering."
I'm writing a React Universal app and _Onsen UI_ fails trying to access `window`, `navigator` and other browser-bound objects.

[2016-07-03 23:50] philolo1 commented on #59
@romulof thanks for reporting. i think we need to change the core of onsenui for that. Could you provide a simple example of server rendering code, so we could try to reproduce it?

[2016-07-05 01:08] philolo1 commented on #59
Looking through the source code of our core, I don't think that we will be supporting ssr very soon as a lot of elements are moving around.  I will mark it as a feature request.

[2016-07-05 01:09] philolo1 commented on #58
@romulof we always appreciate contributions 👍

[2016-07-05 01:10] philolo1 commented on #40
Closing this issue for now :)

[2016-07-05 01:10] #40 closed

[2016-07-05 01:10] philolo1 commented on #53
@mishoboss forgot to tag you here.

[2016-07-05 01:16] philolo1 commented on #53
I will close it for now, feel free to open it if you are not satisfied and we may try to change it in a more proper way.

[2016-07-05 01:16] #53 closed

[2016-07-06 04:44] philolo1 commented on #58
@romulof i looked at it and i think i can implement something, i will think about the interface a little bit more but mainly we could have something similar to navigatorExperimental
[code]
as a property. I have to think a little bit how to best do push, pop and reset there.

[2016-07-06 15:48] shprink opened #63 "[question] router"
Hello guys,

I want to have a side menu with links to pages and I want to disable the link of the current page (to avoid being able to re push the same page several times).

For instance I click HOME LINK => goes to HOME page => disable HOME LINK

As the router events do not return the Route but only the Page (DOM) I was wondering how to do this.

Thanks,
Julien

[2016-07-06 23:37] romulof commented on #58
Sorry @philolo1, but my project schedule didn't allowed me to improve Onsen UI.
I'm writing everything by hand until our first release. After that I'll have another look into this framework.

Thanks for the help.

[2016-07-07 01:30] philolo1 commented on #63
@shprink thanks for reporting. We also have the community https://community.onsen.io/ where you might has questions instead of creating issues.
I am not 100% sure i understand the question. What do you mean with `router` events, the navigator or the side menu? In the click function of the link in the side menu you could save in a global store or in the state which page you marked and adjust the on

[2016-07-07 14:10] shprink commented on #63
if there is an easy way to do the same as here http://m.julienrenaux.fr/

when you switch from HOME to AUTHORS for instance the AUTHOR menu item is disabled. it also works with the back button. if you go to another page ans come back it will be disabled.

In order to do that I had to store the current `route` (setRoute function) on the `renderPage` callback (navigator):

[code]

 and create a cust

[2016-07-08 02:57] philolo1 commented on #63
@shprink i think we can provide the route in the events, i want to hear @argelius opinion about it, so we can probably get back to you on Monday about it.

[2016-07-11 05:51] #46 closed

[2016-07-11 23:25] philolo1 opened #66 "Investigate whole screen wiggling"
https://github.com/OnsenUI/OnsenUI/issues/1502

[2016-07-14 09:53] argelius opened #69 "Render things outside the page content"
@philolo1

I think we need a generic way to render stuff that is outside the page content.

Right now we have some props like `renderToolbar` and `renderBottomToolbar`. I think these are fine but sometimes it's important to also render components like `Fab` and `SpeedDial` outside the page content.

What is a good name for a prop that renders stuff outside the page content? What about `renderFixed

[2016-07-15 08:27] airamrguez opened #70 "LazyList with PullHook component throws an error on iOS."
__Environment__

Onsen 2 rc 15
React 0.6.2
iOS all

__Encountered problem__

LazyList throws an error on iOS when it's refreshed using, for example, a PullHook component. I suspect that this error is caused because `_removeEventListeners` in the `lazy-repeat` element is not removing the `boundOnChange` listener properly on iOS. This example works perfectly on Android whose implementation of `remov

[2016-07-15 08:40] airamrguez opened #71 "Props are not passing down to Pages"
__Environment__
Onsen 2 rc 15
React 0.6.2
All

__Encountered problem__
Props are not passing down to Pages through a Navigator component.

__How to reproduce__
https://codepen.io/anon/pen/jAYaOR?editors=0011

[2016-07-19 14:45] Mythli opened #72 "Range Value binding dos not change displayed range"
Hey Onsen Team,

The rerender with a different value say from 10 to 50 does not change the displayed range.

`
<Range modifier="material"
                               value={this.state.duration_percentage}
                               onChange={(event) => setTimeout(() => { this.setState({duration_percentage: 10}) }, 200) }
                               style={{ width: '100%' }}

[2016-07-21 06:27] argelius commented on #70
Thanks for reporting @airamrguez ! :+1:

We will take a look at this.

[2016-07-21 06:33] geohuz opened #73 "Any way to handle the device back buton in react-onsenui"
Seems like there is no way to do this currently right?

[2016-07-21 06:36] argelius commented on #73
We don't provide a way to handle this now so you would need to add the `backbutton` event handler manually.

For some of the components it is already supported.The `Navigator` will pop a page when tapping the back button and the dialogs will be hidden if the `isCancelable` prop is set to `true`.

[2016-07-21 06:41] geohuz commented on #73
well, I'm trying to disable the android physical back button behaviour, as currently the back button always exist the app and I would like it to act like the "back button" component I added into the page, for example, back to the previous page etc.

[2016-07-21 06:42] argelius commented on #73
Did you load `cordova.js` in your app? It's important to use the `backbutton` event.

[2016-07-21 06:49] geohuz commented on #73
I tried adding the following code into the main.js:

[code]

But it doesn't work, the app just exits after tapping the device back button

[2016-07-21 06:51] argelius commented on #73
Can you catch the event by using this?

[code]

[2016-07-21 07:09] geohuz commented on #73
Unfortunately  no alert window popup

[2016-07-21 07:09] argelius commented on #73
@geohuz Are you running with Cordova and have `cordova.js` loaded?

[2016-07-21 07:16] geohuz commented on #73
No, I just use the onsen-react-ui template and it's scaffoldings, and I'm not sure how to load the cordova.js. But I did merge a cordova folder into onsen project, to try to build the project.

[2016-07-21 07:26] argelius commented on #73
@geohuz You can use the [Cordova CLI](https://cordova.apache.org/docs/en/latest/guide/cli/) to create a project.

The back button can not be overriden in normal web apps. You need to use some routing library or the `window.history` functions.

[2016-07-21 07:49] argelius commented on #69
@philolo1 What do you think about this? Is `renderFixed` a good prop name?

[2016-07-21 07:50] philolo1 commented on #69
@argelius its fine, but should it take an array?

[2016-07-21 07:53] argelius commented on #69
@philolo1 What do you think about it taking either an array or just one element?

Generally you would only put one thing there but I think it's nice to also support an array so they don't need to wrap it in a `<div>`. They could have two fabs, like in Google maps.

[2016-07-21 07:54] philolo1 commented on #69
@argelius i don't think you can distinguish the return type of a function

[2016-07-21 07:54] philolo1 commented on #69
so i think it should be a function that returns an array.

[2016-07-21 08:09] argelius commented on #63
@shprink @philolo1 Sorry for the late reply. Have been busy with newborn children. :)

I also agree that we can provide the route in the events.

[2016-07-21 08:11] argelius commented on #71
Thanks for reporting this @airamrguez !

I'm not sure if this is actually a bug. The `initialRoute` is only used for initialization.

Actually we (actually @philolo1) is working on improving the `Navigator` component to make it easier to use with state management libraries like Redux, etc. Basically we are getting rid of the `pushPage` and `popPage`.

[2016-07-21 08:12] shprink commented on #63
ho yeah that's right! Congrats!

The `route` is necessary in order to apply some restriction logic, so it would be great to have.

Let me know when you have a roadmap on that.

thanks very much.

[2016-07-21 08:12] argelius commented on #72
Thanks for reporting @Mythli !

We will take a look at this. So it is not updating when the state changes? That's definitely a bug so we will look into it. Maybe the `value` prop is not working correctly.

[2016-07-21 08:13] argelius commented on #73
@geohuz I will close this issue for now.

Maybe discussions like this are better suited for the [community forum](https://community.onsen.io/).

[2016-07-21 08:13] #73 closed

[2016-07-21 09:31] #72 closed

[2016-07-21 09:33] #69 closed

[2016-07-21 09:40] argelius opened #76 "'Warning: Unknown prop `no-status-bar-fill` on <div> tag."
This warning is shown when running the tests.

[2016-07-22 03:51] geohuz commented on #73
@argelius , I have a long talk with somebody in the forum, it seems like the device backbutton behaviour is to go back to previous navigation stack, but the problem is on the onsenui-react only. As I'm new to onsenui and only start to use it under onsenui-react, I'm facing the problem of not being able to control the android hardware backbutton behavior. I also ran a example code from official doc

[2016-07-22 04:04] argelius commented on #73
Can you describe in detail what you are trying to do with an example?

[2016-07-22 04:16] geohuz commented on #73
Ok, here is the code I copied/tested from official document,

[code]

the pushpage Button simply give you another page, you can push many pages and use the backbutton on the tabbar to go back. Now run it in the android simulator, tap the device backbutton(not the one we coded on the tabbar), now the app exits regardless of current navigate location. I want the device backbutton acts like the tabba

[2016-07-22 04:28] argelius commented on #73
@geohuz This works fine for me in Android. Maybe it's easier if you share the whole project because I'm not really sure why it's not working.

Please share the project and provide the necessary commands to build and deploy to Android.

[2016-07-22 05:18] geohuz commented on #73
@argelius , here you go: https://github.com/geohuz/onsenRef

The command I run to deploy:

[code]

then in android I use monaca debugger to run the app

[2016-07-22 05:59] airamrguez commented on #71
I was not sure about that. I suppose that this will cause to re-render every route in the page stack and will dim performance. I was trying to change the application language but I finally did a resetPageStack that also solves the problem.

Thanks for your feedback!

[2016-07-22 06:00] #71 closed

[2016-07-22 14:35] geohuz commented on #73
After hours of fighting, I finally get this to work, but I'm still not sure where is the problem. The things I can remember is to upgrade the cordova to the newst 6.2.0 (I was using 4.x) before. Also the monoca react template was upgraded. To make it work I changed the config.xml to the cordova supplied and made a minor change. After all those steps, still include the

[code]
to index.html, and no

[2016-07-25 01:41] philolo1 commented on #76
@argelius its because OnsenUI is setting 'no-status-bar-fill' without react knowing it. I don't think its a big issue...

[2016-07-25 10:44] airamrguez opened #78 "Carousel data is not being updated properly when the state changes."
__Environment__
Onsen 2 beta 6
React 0.6.2
iOS 9.2

__Encountered problem__
When the state changes the carousel is not being updated accordingly.

__How to reproduce__

https://codepen.io/anon/pen/zBjjLw?editors=0010

[2016-07-26 02:02] #63 closed

[2016-07-26 04:57] argelius commented on #78
Thanks @airamrguez ! We will look into this

[2016-07-26 04:57] argelius commented on #76
I agree. Just put it here so we can fix it when we have some time to spare.

[2016-07-26 06:26] geohuz opened #79 "Blank toolbar with Floating Action Button and scroll list"
When there is a List with many items, which make the list longer enough for scrolling, adding a floating action button will make the toolbar blank, additionally, the Floating Action Button doesn't stay its position (My case is bottom right).

[2016-07-26 06:30] argelius commented on #79
Hi @geohuz

We recently added a prop called `renderFixed` for the `Page` component. This can be used for things like `Fab` and `SpeedDial` components that should have a fixed position on the page:

Can you try this?

[code]

[2016-07-26 06:39] geohuz commented on #79
Hi @argelius,  would you pls give me the branch/tag version of the repo so I can pull in? It seems like the current npm version doesn't work. (No Fab displayed)

[2016-07-26 06:43] argelius commented on #79
@geohuz Are you using 0.7.1? I just tried it and it's displaying fine. Can you provide a small example that reproduces this issue?

Also, I would like to know what platform and version you are running.

[2016-07-26 06:44] geohuz commented on #79
@argelius, my version is 0.6.2, let me upgrade it first

[2016-07-26 06:46] argelius commented on #79
@geohuz Thanks! I hope it will work with the new version. This prop was added in `0.7.0`.

[2016-07-26 07:00] geohuz commented on #79
@argelius , I'm getting error: 'Uncaught Error: This ons-tab element is must be child of ons-tabbar element.', version is 0.7.1 and platform is android, the render method:

[code]

[2016-07-26 07:06] argelius commented on #79
@geohuz I think that error has something to do with the Tabbar component. Can you show the code where you use that as well?

For the `Toolbar` component you should use the `renderToolbar` prop instead of putting it as a child of `Page`:

[code]

[2016-07-26 07:22] geohuz commented on #79
@argelius, it seems the upgrade breaking the app, I get the error event without renderFixed.  Basically the app's root component initialize the Naviagator and route, as such:

[code]

So the MainPage render the tabbar,

[code]

then the HomePage will be linked to other pages via 'pushPage',

[code]

[2016-07-26 08:35] argelius commented on #79
@geohuz Can you try again with v0.7.2? Just released it and it fixes an issue with the tabs.

[2016-07-26 08:43] geohuz commented on #79
Thanks @argelius , It works perfect now!

[2016-07-26 08:44] argelius commented on #79
Great! :tada:

[2016-07-26 08:44] #79 closed

[2016-07-26 13:57] danielearwicker opened #80 "onsenui.d.ts type definition incorrect for bringPageTop"
In onsenui.d.ts this declaration is wrong:

    bringPageTop({item: String,item: Number}, options?: Object): Promise<HTMLElement>;

From the docs I think it should be:

    bringPageTop(item: string|number, options?: Object): Promise<HTMLElement>;

i.e. `item` can be either `string` or `number`.

[2016-07-26 14:17] danielearwicker opened #81 "onsenui.d.ts type definition structure is incorrect"
I am trying to use onsenui 2.0 RC 15 with TypeScript.

In your package.json you correctly refer to:

    "typings": "js/onsenui.d.ts",

And in that file you have:

    export declare var ons: onsStatic;

So that means that TS will believe that the module exports a variable called `ons`.

This means that in my code I can say:

    import { ons } from "onsenui";

However at runtime it exceptions in

[2016-07-26 14:31] danielearwicker commented on #80
Closing this as I've logged a single issue in right place (1520)

[2016-07-26 14:31] #80 closed

[2016-07-26 14:31] danielearwicker commented on #81
Closing this as I've logged a single issue in right place (1520)

[2016-07-26 14:31] #81 closed

[2016-07-27 06:35] geohuz opened #82 "Is there anyway to do authentication upon route?"
For the react-router we have onEnter property for the route component, then you can deal with the authentication based on the feature. I didn't see anything inside the document, any idea on that?

[2016-07-27 07:06] argelius commented on #82
@geohuz Thanks for the suggestion!

This is a good idea. We will keep this in mind when designing the new Navigator.

[2016-07-27 10:55] airamrguez opened #83 "The modal hides when the state is updated."
__Environment__
Onsen 2 rc 15
React 0.7.2
All platforms

__Encountered problem__
The modal hides when the state is updated.

__How to reproduce__
https://codepen.io/anon/pen/XKYgxL

[2016-07-27 12:24] airamrguez opened #84 "onShow event in Page component throws an error."
__Environment__

Onsen 2 rc 15
React 0.7.2
Platform all

__Encountered problem__
`onShow` event in `Page` component throws an error.

__How to reproduce__
https://codepen.io/anon/pen/ZORJoQ?&editors=101

[2016-07-27 12:29] philolo1 commented on #84
@airamrguez thanks for reporting. It seems like a chrome issue. Is the code executing properly? I think the code works fine, its only showing a weird error message. We had a similar issue when calling an event 'cancel'.

[2016-07-28 00:13] argelius opened #85 "Tabbar component mounted twice"
A user reported this issue through a different channel. Let's investigate and see if we can reproduce.

[2016-07-28 08:27] airamrguez commented on #84
@philolo1 It seems to work properly despite the error. Thanks for your support!

[2016-07-28 12:28] philolo1 commented on #84
@airamrguez its really strange, I will put it in enhancement, probably one should rename events in the core, but that is not so nice really or report this bug to chrome, but takes some time to actually do that.

[2016-07-28 12:29] philolo1 commented on #83
will look into it thanks

[2016-07-30 07:38] geohuz opened #87 "monaca preview command failed but couldn't see the log"
`monaca preview` command failed to give the log location,

[code]

this is really confused and I have been frustrated with finding the log file.

[2016-07-31 05:30] geohuz opened #89 "Tapping issue on mobile safari"
There is an observable tapping delay on the mobile safari (ipad, ios) after adding react-onsenui or onsenui library (Just import the react-onsenui or onsenui and no further coding). Remove these imports eliminating the effects.  Tested with the following simple statement:

[code]

The import will be sth like:

[code]

[2016-07-31 11:11] #87 closed

[2016-08-01 10:57] frankdiox opened #93 "Wrong description of `dataSource`"
It shows the description for `modifer` instead: https://github.com/OnsenUI/react-onsenui/blob/master/src/components/List.jsx#L56

[2016-08-01 12:01] mancas opened #94 "Navigator does not update pages when a re-render is triggered"
If you try to `setState` from the navigator parent element, the pages don't receive the update until you click somewhere on the screen. What I'm trying to do is type in an input and filter the results.

I've tried to update the sate of each page when navigator receives `componentWillUpdate`:

`
{
      key: 'componentWillUpdate',
      value: function componentWillUpdate() {
        var _this7 = t

[2016-08-01 17:26] matoilic commented on #94
Just ran in the same issue. This is a major bug since it breaks React standard behaviour. I've created an example here https://codepen.io/matoilic/pen/pbOvaG?editors=0010. When calling `forceUpdate` lifecycle methods like `shouldComponentUpdate` on the children should be invoked. This is not the case when using the Navigator component.

[2016-08-03 07:36] IliaSky commented on #76
BTW `no-status-bar-fill` should've been removed completely around more than a month ago.
Right now `ag "no-status-bar-fill"` on `onsenui@master` returns only some code from an older version in `css-components/www/patterns/lib/onsen/js/`, but I guess that shouldn't be used anywhere. Maybe it's used in the tests somehow?

Right now there is a `status-bar-fill` attribute, but it should be added only

[2016-08-03 07:43] #76 closed

[2016-08-03 07:43] argelius commented on #94
@mancas @matoilic Thanks! We will fix this issue.

[2016-08-03 07:44] argelius commented on #93
@frankdiox Thanks! I have fixed this :+1:

[2016-08-03 07:44] #93 closed

[2016-08-03 11:42] frankdiox opened #96 "List's dataSource prop could accept a function."
I think it would be nice if `dataSource` in `List` component could also accept a function that returns an array:

`<List dataSource={this.props.tasks}>`  ===> `<List dataSource={this.filterTasks}>`

[2016-08-04 06:09] hervejegou opened #97 "react Tabbar for Android displays above Toolbar when position='top'"
Tabbar should stick below Toolbar in Android Material UI. Right now it cannot be used in top position (which is the default/recommended position for Android Material UI).

![react-tabbar-top](https://cloud.githubusercontent.com/assets/771611/17391983/ead7cf3e-5a4c-11e6-8f52-42de9f789ccb.png)

[2016-08-04 06:13] hervejegou opened #98 "Transparent toolbar buttons have colored ripple"
modifier='transparent' works well for Toolbar in Android. The toolbar buttons appear in white as per UI guidelines.

However when you click a button in the toolbar, you get an instant square background same color as the normal toolbar. Maybe it should be semi transparent ripple background??

[2016-08-04 06:34] hervejegou opened #99 "Android popover with 'isCancelable' does not work once cancelled"
Using the popover [demo](https://onsen.io/tutorial/index.html?framework=react&category=Reference&module=popover) with `` isCancelable={true} ``  :

1. when you cancel with the close button inside the popover, the popover closes properly and it can be used again by clicking on the 'Tap Here' button.
2. if you cancel the popover by clicking outside of the popover, the propover closes properly but it

[2016-08-05 02:52] geohuz commented on #82
@argelius, Currently I'm trying to fulfil the idea as such:

[code]

and the loginPage:

[code]

I'm not sure this is the correct way of doing it, and error pop up like this:

[code]

[2016-08-05 02:57] argelius commented on #99
@hervejegou Thanks for reporting.

This is actually not a bug. When the popover is cancelled by clicking outside the `onCancel` prop will be executed.

Just add `onChancel={this.hide}` in the demo and it should work fine.

[2016-08-05 02:57] #99 closed

[2016-08-05 02:58] argelius commented on #98
Thanks @hervejegou !

We will implement the ripple effect for toolbar buttons in a future version. We have the `Ripple` component but the toolbar button ripple effect is quite different from the normal ripple effect so we will implement it separately.

[2016-08-05 03:04] hervejegou commented on #99
Thanks it works great now.

[2016-08-05 03:07] argelius commented on #97
@hervejegou We do support this layout but in that case you need to change the structure of the components. I made an example here that you can take a look at:

https://codepen.io/pen/?&editors=101

Generally the tab hierarchy of iOS and Android apps is quite different so it's not possible to support both with the same component structure. If you want to support both I recommend adding some conditi

[2016-08-05 03:07] #97 closed

[2016-08-05 03:08] argelius commented on #96
@frankdiox I think this is a good idea. What do you think @philolo1 ?

[2016-08-05 03:13] argelius commented on #99
@hervejegou Glad it helped! :)

[2016-08-05 03:14] argelius commented on #82
@geohuz  That's strange. What does the DOM looks like, especially the children of the `<ons-navigator>` element? They need to render into `<ons-page>` elements.

[2016-08-05 03:16] hervejegou commented on #98
OK thanks.. maybe transparent toolbar buttons do not really need ripple??

Right now the problem is that it is not usable:
I use this with a background image as in your example in  [onsen css components patterns](http://components.onsen.io/patterns/)
and when I click the button I have a big green square appearing in button background?? (my toolbar is normally green). See below:

1. transparent too

[2016-08-05 03:31] geohuz commented on #82
@argelius, the actual loginPage is like;

[code]

[2016-08-05 03:32] argelius commented on #82
@geohuz It looks like something that is not a `Page` component is rendered at some point but I'm not sure.

It would be great if you could create a small example that reproduces this. Preferably on Codepen

[2016-08-05 04:55] argelius commented on #94
@mancas @matoilic I have made some changes to the Navigator so it will re-render its children.

The changes are pretty large so we need to do some testing and review as to not break anything.

You can follow the progress here:
https://github.com/OnsenUI/react-onsenui/pull/101

[2016-08-05 05:11] #83 closed

[2016-08-05 05:11] argelius commented on #83
@airamrguez This should be fixed in the next version.

[2016-08-05 05:29] #78 closed

[2016-08-05 05:29] argelius commented on #78
@airamrguez This has been fixed now. Should work in the next version.

[2016-08-05 06:33] geohuz commented on #82
@argelius, I'm not able to create the example as I'm firing an ajax call to my backend that is not possible to simulate the case. However, I'm trying to do it in another way, this time I'm trying to redirect to login page in the MainPage, as such:

[code]

although there is error, the page get redirected successful. But the app breaks with error when I try to popPage(return to mainpage),  the code

[2016-08-05 06:41] argelius commented on #71
@airamrguez We could limit so only the two top pages on the page stack are rendered. If we do that there would be no performance penalty.

[2016-08-07 06:36] sntran opened #105 "Make Fab and Button submit form"
Hi,

We have a `Page` with a `List` of `Input` for the user to enter data, and a`Fab` (or `Button` depending on platform) to save. We would like to wrap both the `List` and the `Fab` inside a `<form>` so that we can utilize browser's form validation and bind `onSubmit`. However, since those buttons are not real buttons, they won't submit the form.

I'd rather not bind `onClick` on them to submit t

[2016-08-07 09:46] philolo1 commented on #105
Thanks @sntran for your question. We will look into it, but it might be also a good Question to rather look into our community (community.onsen.io)

[2016-08-07 22:38] danielearwicker opened #106 "Toolbar now covers up content at top of page"
I have a simple example of a navigator with a toolbar and a list as the main content. With my snapshot of node_modules containing react-onsenui@0.7.2 it works as expected.

Today I reinstalled my packages and got 0.7.5. Now it's not working the same. The toolbar conceals the first item of the list, like it's overlaid on the top of the list, instead of the list starting vertically below it.

I see

[2016-08-08 01:05] philolo1 commented on #66
@argelius i don't know the state of this anymore, if you have the time let us check whether this is still happening.

[2016-08-08 01:09] philolo1 commented on #85
I will take a look!

[2016-08-08 01:10] philolo1 commented on #89
@argelius @frankdiox any ideas whether this has to do with the core or some library we are including? I doubt it has to do with react itself!

[2016-08-08 01:14] philolo1 commented on #96
@frankdiox if you have a function then you cannot really test equality, so do you want it to be a constant function, meaning if the property changes do we want to re-render the component? What is the benefit in comparison to define a function and assining the property or a state to it?

[2016-08-08 01:19] philolo1 commented on #106
@danielearwicker thanks we will investigate this. I guess this is due to some core change.

[2016-08-08 01:21] philolo1 commented on #105
Mhh, i am not 100% sure, but what is your problem @sntran? The fact that you don't like to use ref? You could use `window.document.form` or `document.getElementById` and set the id of the form if you think this is nicer. I cannot think about something out of my head right now, but please feel free to ask in our community (https://community.onsen.io/).

[2016-08-08 01:37] sntran commented on #105
Hi @philolo1 .

I guess my issue is that `<ons-button>`, and by definition, `<Button>` React component, should wrap a HTML `button` element instead of providing custom markup. This way the component is still a valid button, and can act like a button, i.e, submitting the form it is contained in. This is the standard behavior of HTML. And `<Button>` component does not do that.

[2016-08-08 02:57] IliaSky commented on #106
It may be a result of some changes in the core.

@danielearwicker Make sure you updated the core too. Also can you make some codepen where we can reproduce the issue? The tutorial is using `react-onsenui@0.7.5` and `onsenui@2.0.0-rc.16` and it seems to be displaying fine.

http://tutorial.onsen.io/?framework=react&category=Reference&module=list
http://tutorial.onsen.io/?framework=react&category=Re

[2016-08-08 17:02] danielearwicker commented on #106
I'm trying to create a standalone replication, starting with:

[code]
The last of these emits:

[code]

When I try to build with webpack I get:

[code]

[2016-08-08 17:10] danielearwicker commented on #106
See https://github.com/danielearwicker/onsenui-bug106

[2016-08-08 22:25] philolo1 commented on #106
@danielearwicker You should use `renderToolbar` and not put the toolbar directly inside.  I did a pull request in your repo and it works now for me. I am closing this issue now: https://github.com/danielearwicker/onsenui-bug106/pull/1

[2016-08-08 22:25] #106 closed

[2016-08-08 22:27] philolo1 commented on #105
@sntran we are using Custom Components to enable more functionality for the button. So I guess what you want is that the ons-button works like a normal button for forms. I think this is an enhancment that belongs to rather the core. I think for now you should just use the normal `<button>`, but we might implement something like that in the future.

[2016-08-08 23:01] philolo1 commented on #57
@IliaSky do you know whether this should be fixed now?

[2016-08-09 00:38] IliaSky commented on #57
Yes - unless react removes the class for some reason this should already be fixed. Just to be safe though you can still check it before closing the issue :)

[2016-08-09 01:08] sntran commented on #105
Thank you @philolo1 for opening an issue at OnsenUI/OnsenUI.

[2016-08-09 09:15] danielearwicker commented on #106
Thanks. The example in the reference guide is what I mimicked, I guess it needs fixing?

https://onsen.io/v2/docs/react/navigator.html

[2016-08-09 12:59] emildimitrov opened #107 "No unique 'key' prop for children"
In most of the components unique 'key' prop is not set
You can check the console in http://onsenui.github.io/react-onsenui-kitchensink/demo.html.
Having unique 'key' for each children is critical not only for application performance

[2016-08-09 21:36] dnish opened #108 "Padding / margin issue on 2.0 RC17"
Hey,
after upgrading from RC15 to RC17 all pages of my app got a wrong padding / margin. Some content is hidden behind the title bar on Android. It happens on every page with a title bar. Are there any changes (f.e. a new content wrapper) between RC15 and RC17?

[2016-08-10 03:08] philolo1 commented on #106
@danielearwicker thank you we will change it

[2016-08-10 07:33] philolo1 commented on #107
@emildimitrov you have to set the keys for now by yourself, take a look at this demo here https://github.com/OnsenUI/react-onsenui/tree/master/demo. We could set automatic keys, but i don't think this is a good idea.

[2016-08-10 08:01] philolo1 commented on #57
Seems to be fixed in the core or at least in the next version it will be :)

[2016-08-10 08:01] #57 closed

[2016-08-10 09:22] philolo1 commented on #85
@airamrguez So it seems like the event prePushed is called after every render, so what one could do is simply doing :

     onPreChange={(event) =>
            {
              if (event.index != this.state.index) {
                console.log('prechange', event);
                console.log('set state prechange');
                this.setState({index: event.index});
                console.log('pr

[2016-08-10 10:07] philolo1 commented on #85
I tried a little bit whether it is easy to put in the core, but if we avoid the prePush event in react a postPush will still be triggered. We can call cancel on the component but this actually makes things worse, as it breaks things. I don't have an idea out of my mind now how to avoid the postPush event being fired twice, unless one has some ugly logic, which is not really good!

[2016-08-10 10:09] philolo1 commented on #85
This is the branch i tried things out, lets discuss on friday:
https://github.com/OnsenUI/react-onsenui/tree/tabbar_avoid_rerender

[2016-08-10 17:33] emildimitrov commented on #107
Hi :) I tried with the tabbar, but couldn't get how to ensure that every child has key. I'll be happy if could give me direction for example how to ensure this here [https://onsen.io/tutorial/index.html?framework=react&category=Reference&module=tabbar](url)

[2016-08-10 19:05] dnish commented on #108
Nope, I'm using it without renderToolbar. I'll check later if it fixes the issue.

[2016-08-12 00:14] philolo1 commented on #108
@dnish Since one of the early versions we used `renderToolbar`, you can look in the tutorials. We forgot to update some documents. Because of some changes in the core I believe now you have to use renderToolbar, since its put in some position of the DOM that is not exposed.

I am closing the issue right now, but if it does not work for it, feel free to open it again.

[2016-08-12 00:14] #108 closed

[2016-08-12 01:08] philolo1 commented on #94
@argelius you try to rerender all the pages all the time, do we really want to do it.?The proper way is to rerender the page and not the navigator. You would kind or reset the entire navigator, that should be the behaviour you are expecting?
@matoilic @mancas So what do you expect to rerender everything with the routes? The routes are called `initialRoute` and means its a starting point. With the

[2016-08-12 01:10] philolo1 commented on #94
As a comment here to why we call it initialRoute: https://facebook.github.io/react/tips/props-in-getInitialState-as-anti-pattern.html

[2016-08-12 01:11] philolo1 commented on #94
If you want to rerender every child when you rerender the Navigator we can do it, but you should not really do it and rather update the children.

[2016-08-12 05:33] argelius commented on #107
@emildimitrov You can add keys to your pages and tabs like this:

[code]

This should get rid of the error.

[2016-08-12 05:33] #107 closed

[2016-08-12 05:34] argelius commented on #105
I will close this since it's an issue in the core.

[2016-08-12 05:34] #105 closed

[2016-08-12 05:39] argelius commented on #96
Let's close this for now.

[2016-08-12 05:39] #96 closed

[2016-08-12 05:39] argelius commented on #89
@geohuz I will take a look at this issue and see if I can reproduce it.

[2016-08-12 05:41] argelius commented on #89
@geohuz Can you try adding a meta viewport tag to your app? Some webviews will remove the delay if the viewport tag prevents pinch zoom.

[2016-08-12 05:43] #66 closed

[2016-08-12 05:44] argelius commented on #59
Since Onsen UI is primarily designed for hybrid apps we will not make this a top priority.

[2016-08-12 06:48] argelius commented on #85
@philolo1 I guess this is solved by putting the `setState` call in `onPostChange`. The problem was that the index was changed twice because we call `setActiveIndex()` in the component when the `index` prop changes. It is also called when the tab is tapped.

[2016-08-12 06:50] philolo1 commented on #85
@argelius if we do that, then its loading the html and the page in the core and then rendering it wih react? Will you see some blinking then?

[2016-08-12 07:27] argelius commented on #85
I didn't notice any blinking

[2016-08-12 07:43] philolo1 commented on #85
@argelius i mean the logic, i am not 100% sure, i imagine it could happen that
1. onsen loads the content
2. the content is updated by react

I don't think its really happening but it could, i am not sure about the internals. If it is not happening it should be fine.

[2016-08-12 08:35] matoilic commented on #94
@philolo1 currently there is no proper way to update pages in the Navigator if one or more of their properties change. The Navigator should not interfere with stanard behaviour of React. All lifecycle callbacks should work as expected.

[2016-08-12 08:36] philolo1 commented on #94
@matoilic so you expect to render all the pages when you rerender the navigator?

[2016-08-12 08:51] matoilic commented on #94
Yes, for the construction of the Virtual DOM tree. React should then take care of only updating the necessary parts in the browser's DOM. If a user only wants to update the currently visible page he could use the `shouldComponentUpdate` callback to achieve this. But such decisions should not be made preemptively by OnsenUI. An alernative would be to have a base component, e.g. `NavigatorPage`, whi

[2016-08-13 07:59] hervejegou commented on #97
@argelius Thanks this works well now.. Just one low priority feedback, I do get a warning about props:

    in div (created by Tabbar)
    in ons-tabbar (created by Tabbar)
    in Tabbar (created by Community)
    in div (created by Page)
    in ons-page (created by Page)
    in Page (created by Community)
    in ons-splitter-content (created by SplitterContent)
    in SplitterContent (created by

[2016-08-14 03:11] hervejegou opened #110 "initialIndex in tabbar not displaying correct tab"
I am trying to open a page with tabbar at the second tab instead of the first. I tried to change the initial index from 0 to 1 in the [onsen tutorial] (https://onsen.io/tutorial/index.html?framework=react&category=Reference&module=tabbar) but it does not seem to work:
``
<Ons.Tabbar
        initialIndex={1}
        renderTabs={this.renderTabs}
      />
``

[2016-08-14 03:14] philolo1 commented on #110
@hervejegou try using normal index we got rid of initialindex i think.

[2016-08-14 04:26] philolo1 commented on #110
@hervejegou actually the right way to do it is this:
[code]

[2016-08-14 05:42] rockneverdies55 opened #111 "switch element disabled doesn't work as expected"
Even passing `disabled={false}` renders disabled element.

I had to have something like `disabled={isDefault ? true : undefined}` in order to get it working (`isDefault` has a bool value in my example.) So passing `undefined` instead of `false` works.

[2016-08-14 08:10] hervejegou commented on #110
@philolo1 : Thanks it does make sense now.. Will try it shortly.

[2016-08-14 08:10] #110 closed

[2016-08-14 08:23] philolo1 opened #112 "Update tabbar tutorial"
As users reported it uses initialIndex and not index

[2016-08-15 01:18] philolo1 commented on #112
Is fixed now

[2016-08-15 01:18] #112 closed

[2016-08-15 01:19] philolo1 commented on #111
@rockneverdies55 thanks you it will be fixed in the next release.

[2016-08-15 01:55] philolo1 commented on #85
@argelius just do a pull request i can take a look and if it works fine lets merge it :)

[2016-08-17 03:06] hervejegou opened #114 "Unknown prop `no-status-bar-fill` on <div> tag in ons.tabbar"
ons.tabbar creates a div with prop which raises an unknown props warning in React (not declared??):

![ons tabbbar props warning](https://cloud.githubusercontent.com/assets/771611/17723133/398df6fe-646a-11e6-9ff6-8153c3428c0d.png)

The warning in all its glory:

warning.js:44Warning: Unknown prop `no-status-bar-fill` on ``<div>`` tag. Remove this prop from the element. For details, see https://fb.

[2016-08-17 03:16] philolo1 commented on #114
@hervejegou which version are you using? It should be removed in newer version. Please update not only `react-onsenui` but also `onsenui`

[2016-08-17 03:44] hervejegou commented on #114
@philolo1 you are correct, I was using:

 "onsenui": "^2.0.0-rc.15",
    "react-onsenui": "^0.7.2"

Updated to latest and indeed it is fixed. My mistake. Thanks

[2016-08-17 03:44] #114 closed

[2016-08-17 06:51] airamrguez opened #115 "PullHook breaks page layout"
__Environment__
Onsen 2 rc 17
React 0.7.5
All

__Encountered problem__
When a PullHook component is added to a page, it's content goes underneath the top toolbar.

__How to reproduce__
https://codepen.io/anon/pen/jAJGdx?editors=0011

[2016-08-18 07:41] argelius commented on #115
Thank you @airamrguez !

[2016-08-23 09:20] frankdiox opened #117 "Back-button should be rendered in React"
Sometimes the back-button content is not ready when the navigator's animation starts. BackButton should render in React:

[code]

[2016-08-23 10:11] airamrguez opened #118 "Wrong list border with footer on iOS."
__Environment__
Onsen 2 rc 17
React 0.7.5
iOS All

__Encountered problem__

The list component paints a bottom border that surrounds the list footer on iOS. The list border should reach until the last list item leaving the footer without border.

__How to reproduce__
https://codepen.io/anon/pen/oLRdOE?&editors=101

[2016-08-28 01:59] rockneverdies55 commented on #85
What's the status of this? This is indirectly causing an unnecessary data fetch trip in my application.

[2016-08-29 17:03] munsterlander opened #122 "Modal.json malformed"
The Modal.json file in the react doc component has an issue.  If viewed, you will see the not all items are displayed correctly in the Props section.

https://github.com/OnsenUI/react-onsenui/blob/master/docs/Modal.json

[2016-09-09 16:09] mishoboss opened #127 "SplitterSide collapse prop change doesn't works anymore"
SplitterSide collapse prop change doesn't works anymore. If "collapsed" property was set to false, and then set to true, SplitterSide is not collapsed. If initially set to true, it renders collapsed. It worked before as expected.

react-onsenui version: 0.7.7

[2016-09-09 19:02] matoilic opened #128 "Navigator: Duplicate keys when using resetPageStack"
If you want to "pop" multiple pages from the current stack the only way to do this currently is to use resetPageStack and pass it a slice of the current stack.

Example: https://codepen.io/anon/pen/rrOrAm

The issue here is that the top page of the new stack is pushed to the current stack and causes the collection to have two elements with the same key (https://github.com/OnsenUI/react-onsenui/blo

[2016-09-10 12:04] mishoboss commented on #94
I think this change fundamentally broke the component. Now I think that "shouldComponentUpdate" always returns "true", so Navigation is rerendered on every prop and state change (I think). Anyways, I know for sure that it broke my app that is based on https://github.com/shprink/react-redux-onsenui-webpack-boilerplate

[2016-09-10 18:44] matoilic commented on #94
I have the same behaviour on iOS Safari in my app. The Navigator is completely broken.

[2016-09-12 05:57] argelius commented on #127
Thanks for reporting @mishoboss !

I have fixed this so it will work in the next version. I will probably release a new version later today.

[2016-09-12 05:57] #127 closed

[2016-09-12 06:09] argelius commented on #128
Thanks @matoilic ! I agree there should be an easier way to pop multiple tages from the stack, maybe something like `popToPage` is the way to go.

[2016-09-12 06:25] #111 closed

[2016-09-13 15:01] mishoboss commented on #94
Anyone? :( If this is going to be like this from now on, is there a chance for any guide or at least hint what should be tweaked for this to work again as expected?

[2016-09-13 15:13] argelius commented on #94
@mishoboss Can you provide a simple example of the usage and what is the expected behavior.

I will revert this change and release a new version tomorrow.

[2016-09-13 20:38] mishoboss commented on #94
Hello, I think the simplest and quickest thing to do is to test with https://github.com/shprink/react-redux-onsenui-webpack-boilerplate. You will see issues mainly with back button behaviour.

[2016-09-14 15:56] argelius commented on #115
This was fixed in a previous version. Forgot to close this issue.

[2016-09-14 15:56] #115 closed

[2016-09-14 16:06] argelius commented on #94
I've reverted this commit now.

[2016-09-14 16:07] argelius commented on #98
I will close this for now since this is an issue for the core library

[2016-09-14 16:07] #98 closed

[2016-09-15 12:39] airamrguez opened #138 "Switch component isn't updated properly."
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 19
React 0.7.8
All

__Encountered problem__

Switch `onChange`'s event isn't working properly. The component visually changes but `event.target.value` always ret

[2016-09-15 12:40] argelius commented on #138
@airamrguez The component is internally a checkbox so you can use the `event.target.checked` value.

[2016-09-15 13:00] airamrguez commented on #138
@argelius Nice! That works!

Another thing I've noticed is that when you enable the device mode in Chrome and "tap" (not swipe) the `onChange` event isn't fired. At least it's working on Android. Will test it on iOS later.

[2016-09-15 13:03] argelius commented on #138
@airamrguez

Does this still happen if you refresh after switching to device mode?

[2016-09-16 07:21] airamrguez commented on #115
@argelius If I'm not wrong this is still happening. I've updated the example with the latest releases to reproduce the error (OnsenUI 2.0.0 & react-onsenui 1.0.0). If you switch to the OnsenUI 2.0.0-rc.15 version then you'll see the example works even with the latest release of react-onsenui.

http://codepen.io/airamrguez/pen/QKEjdq?editors=1010

[2016-09-16 07:26] airamrguez commented on #138
Yes, it happens despite the refresh.

[2016-09-16 07:27] argelius commented on #138
@airamrguez That's interesting. Maybe there is something strange with the touch event emulation in Chrome. I will take a look at it!

[2016-09-16 07:31] argelius commented on #115
@airamrguez Are you sure?

http://codepen.io/argelius/pen/amkvyr

For me it works fine. What browser are you using?

[2016-09-16 07:51] airamrguez commented on #115
@argelius I'm using the latest Chrome version. The link above has wrong library versions because I were playing to see which version worked.

Now its pointing to the latest onsen releases:

http://codepen.io/airamrguez/pen/QKEjdq?editors=1010

[2016-09-16 07:52] airamrguez commented on #138
Nice! Thanks @argelius

[2016-09-16 08:00] argelius commented on #138
@airamrguez I was unable to reproduce it. It works fine for me in Chrome, even when I use the device emulator.

Only problem is if I switch to the device mode while the app is already running.

[2016-09-16 08:02] argelius commented on #115
@airamrguez You only updated the JS library, there were a couple of changes in the CSS of the pull hook also lately.

[2016-09-16 08:20] airamrguez commented on #115
@argelius Good catch!!! I totally forgot about updating the css. I've tested it now with the new css and it's working fine!

Thank you so much!! You're doing a really great work.

[2016-09-16 10:48] airamrguez commented on #138
@argelius I've updated the dependencies of the Codepen, switched to device mode, reloaded the page, then clicked on the switch and it didn't print the logs in the console (although the position of the handle changes).

It's weird because on Android an on iOS devices works perfectly. Other thing I've realised is that on the Chrome device mode if you double click on the switch then the log prints th

[2016-09-17 13:18] mcku opened #141 "Navigator pushPage overwriting last page pushed"
When I `pushPage` into a global Navigator, the route object is not appended to the routes member of the navigator, but the last route item of the navigator gets replaced with the pushed page.

Here is the stackoverflow link. [http://stackoverflow.com/questions/39547222/onsen-react-navigator-pushpage-overwrites-last-page](http://stackoverflow.com/questions/39547222/onsen-react-navigator-pushpage-ov

[2016-09-25 20:33] SiroDiaz opened #147 "Error with Input inside a Toolbar"
The aspect of a Input inside a Toolbar is like this
![captura](https://cloud.githubusercontent.com/assets/7469286/18818026/b7f873f2-836e-11e6-99bb-991e2417a671.PNG)
The placeholder is under the text box. Same happens with iOS
Source code:

[code]

[2016-09-28 12:48] mcku commented on #141
When set a breakpoint at react-onsenui.js pushPage() ,
[code]
are **not equivalent** when I push the second time. The page pushed before last one only exists in this.refs.navi.pages. this.pages only contains the first page and the last page. I was expecting this.pages and this.refs.navi.pages to be equivalent all the time.

Line 2237 and afterwards:
[code]

[2016-09-28 16:46] mcku commented on #141
The cause was the following. When the new page is loading, some inevitable error occurs, due to a messy third party geo library. That error, even though it could be considered irrelevant, makes the `pushPage` throw an error.

But weirdly, the page is successfully navigated to, that's why I could not notice this. But the route list has the last page popped.

If anyone is interested, I had to commen

[2016-10-03 23:56] scharf opened #152 "Provide typescript typings definition for this project"
I'd like to use the project with typescript and I am looking for type definitions of this project.

I am about to create some type definitions, but I wonder if there are already some existing definitions.

[2016-10-04 01:00] frankdiox commented on #152
@scharf There are type definitions for the [core lib here](https://github.com/OnsenUI/OnsenUI/tree/master/core/src). Maybe that can be helpful to make type definitions for React components :)

[2016-10-04 09:12] scharf commented on #152
Did you write the definitions file by hand or did you automate it in some way?

[2016-10-04 09:14] scharf commented on #152
My plan was to do something along those lines which was done with some editor macros:

[code]

[2016-10-04 21:14] #141 closed

[2016-10-05 04:57] argelius opened #153 "Implement onDeviceBackButton prop"
This should be implemented for Modal, Dialog, AlertDialog, Navigator and Splitter to override the default back button behavior.

[2016-10-07 05:10] jasonnathan opened #155 "Navigator throws warning: Each child in an array or iterator should have a unique "key" prop react@15.3.2"
When I used the React `<Navigator />` component, following this [tutorial](https://onsen.io/blog/react-onsen-ui-navigator-tabs/#usage), I get this warning in the console:

    Warning: Each child in an array or iterator should have a unique "key" prop.
    Check the render method of `Navigator`.
    See https://fb.me/react-warning-keys for more information.
    in _class
    in Navigator (created

[2016-10-07 09:06] frankdiox commented on #155
@jasonnathan Maybe this is useful: https://github.com/OnsenUI/react-onsenui/issues/107

[2016-10-07 17:00] viskin opened #156 "onHide event raised on Ons.Page only from second attempt"
When using Ons.Navigator, and moving from Page1 to Page2, expected behavior is that "onHide" event will be raised on Page1.
What actually happens, is first navigation does not raise "onHide" event. When we move back from Page2 to Page1, and again open Page2, Page1 will raise "onHide" event. So the bug happens only on first navigation.
Internally (from the debugger), there's _isShown property of on

[2016-10-09 21:00] jasonnathan commented on #155
Thanks, perhaps this should be in the docs.

[2016-10-09 21:00] #155 closed

[2016-10-12 02:54] frankdiox commented on #122
@masahirotanaka If I don't remember wrong you mentioned that there was something broken in the jsdocs for React components. I guess this is related?

[2016-10-13 08:37] airamrguez opened #163 "Last released version has break performance and correctness in navigation."
The changes done to the Navigator component on version 1.0.1 broke performance and correctness.

All pages in the stack are now rendered a lot of times and this is causing flickering, slow animations and poor performance. As more routes comes into the stack more poor efficiency.

Also, there is another problem related to rendering all pages in the stack every time a page is pushed into it. State i

[2016-10-17 07:06] argelius commented on #163
@airamrguez Thanks for reporting. I actually don't get this behavior in the current version.

Scroll and state is preserved and I don't experience any change in performance. Can you create a simple example that reproduces this?

Maybe you have some variable global state that is propagated to all pages in the navigator.

[2016-10-17 08:10] mcku commented on #152
The recent upgrade to Typescript 2.0 makes importing Ons pain in the head.
`var Ons = require('react-onsenui');` now throws TS Errors everywhere, because of missing type definitions. Example: `Error:(208, 11) TS2339: Property 'Modal' does not exist on type '{}'.`

I definitely need this. I am not a typings expert and not sure how to contribute to above.

Until it is available, even a dirty typing

[2016-10-21 10:22] salztorte opened #166 "Invalid state Error when unittesting"
Hey,
i use OnsenUi for my react projekt and i want testing it with jest.

When i start the test Osen throw an Error:
[code]
So the funny thing is that the error comes already when i import the component and dont render it.

Footer.jsx
[code]

Footer.spec.js
[code]

[2016-11-03 12:46] salztorte commented on #166
I tried mocha & chai  out but still the same Problem with the invalid state.

I don't figure out where and why onsen throw this error when i testing.

Can someone help me pls?

[2016-11-04 07:37] argelius commented on #166
@salztorte Could you set up a simple repo that reproduces this issue?

[2016-11-04 13:03] salztorte commented on #166
@argelius  https://github.com/salztorte/OsenuiTestError
here is a simpel one.

[2016-11-08 10:06] lamuertepeluda opened #174 "Windows 10 (+Mobile)/UWP Support?"
Hi there,

I'm selecting some React based UI and I'm looking for supporting Android, iOS and Win 10 UWP for a project. This seem really promising but I don't understand if Windows support is planned/possibile.
Any chance react-onsenui could also support Windows 10 UWP (Desktop + Mobile, at least desktop/tablet) in the near future?

For what I got in the documentation, Onsen should also support Win

[2016-11-10 01:13] frankdiox commented on #174
@lamuertepeluda I think it should be fine. If you use Visual Studio there is a related [guide here](https://taco.visualstudio.com/en-us/docs/tutorial-onsen/#get-your-app-running-on-windows) for the core library. Windows 10 is listed as supported in the [core library readme](https://github.com/OnsenUI/OnsenUI#browser-support).

[2016-11-10 08:39] lamuertepeluda commented on #174
@frankdiox thank you for the pointer. I will give it a try, because from my first tries with the Chrome Developers Tools, which mock up both user agent and screen in [device mode](https://developers.google.com/web/tools/chrome-devtools/device-mode/), React+Onsen seem to only recognize Android and iOS, but I cannot get a windows-styled UI even if I select a "Lumia 950" settings. I only get the iOS

[2016-11-21 20:09] JWPapi opened #179 "tabbar initial index doesnt work with Safari"
Im not using the initialindex prop. Im using the index prop and its working perfect on Firefox and Chrome, but Safari just doesnt take the index prop. So the App is starting with an empty page. Just if I click on one of the tabs a tab appears. And then I can change everything as smooth as expected. But no initial tab.

[2016-11-21 20:59] corneyl opened #180 "Dialogs are created outside of the root context"
__Environment__
+-- onsenui@2.0.4
+-- react@15.4.0
`-- react-onsenui@1.0.3

It would be nice in my opinion to create all `Dialog`s (and `AlertDialog`s etc.) within the `Navigator` or root context.

The problem now is that when one uses a root tag which provides a certain context in React, the `Dialog`s do not have this context. Examples are the context provided by `MuiThemeProvider` ([link](http:/

[2016-11-22 04:45] argelius commented on #179
Hi @JWPapi !

The `initialIndex` prop has been removed in favor of the `index` prop. Can you try updating. I tried it in Safari and it is working fine.

[2016-11-22 04:45] #179 closed

[2016-11-22 09:08] JWPapi commented on #179
As said im not using the initial index prop.

https://gist.github.com/JWPapi/12cd5c8ca33f3a8ba83095b3551d8be9

Am I doing anything wrong? I doublechecked everything a 100 times now

[2016-11-22 09:11] argelius commented on #179
@JWPapi I'm really sorry. I misread your message.

Can you give some more information about your platform? I tried the `index` prop on Mobile Safari and it was working fine for me.

[2016-11-22 09:18] JWPapi commented on #179
Have you checked my gist?

You could also check https://ffm.nights.cool If I open it in Chrome or Firefox there is a initial tab, but not in Safari. And check my gist above if you havent yet.

I know your Tabbar has a lot of built in props, so you dont have to set a lot on your own to make it work. Even without setting an index and a onPreChange Prop it works on Chrome. Safari doesnt have  React D

[2016-11-22 09:30] JWPapi commented on #179
Oh I just checked, on my Mac its working, Its not working on my Windows Safari and not on my test iPhone 5 or 5S (not sure what it is lol). If Im emulating any iPhone its not working there too.

[2016-11-22 11:38] JWPapi commented on #179
@argelius is there maybe a workaround, that i tell the tabbar to show the first tab i saw something like setActiveTab in the pure js version

[2016-11-23 10:59] JWPapi commented on #179
Actuall it works with your kitchensink demo:

https://onsenui.github.io/react-onsenui-kitchensink/

but not with my code:

https://gist.github.com/JWPapi/2af216e6e1d696e988c07c75900fd7bb

Cant spot any difference

[2016-11-23 13:58] JWPapi commented on #179
I think its a problem with:

http://stackoverflow.com/questions/8230380/settimeout-not-working-on-safari-mobile

And it not shown up in your demo app, since you are using babelify and im not. Ill check further on this. Would be awesome if you could check in here, im not that experienced @argelius

[2016-11-24 10:34] JWPapi commented on #179
Ok, can stay closed, was totally my fault. I fucked something up in one of my pages, that lead to an error that stopped further  process. Everything is fine. thanks

[2016-11-25 03:17] argelius commented on #179
@JWPapi Glad you were able to solve it! :+1:

[2016-12-02 14:35] danbeck opened #189 "Carousel: index is no respected at first draw inside Tabbar"
When a Carousel contained inside a tabbar is drawn for the first, the first CarouselItem element is shown, even if the index was not 0. https://codepen.io/anon/pen/vypwJo?&editors=101
The expected behavior is that the second CarouselItem is shown, because this.state.index=1.

When a Carousel is used outside a Tabbar, the behavior is as expected. Here the second CarouselItem is shown: https://codep

[2016-12-05 07:13] GoaGit commented on #63
Hello @philolo1, @shprink, since this thread is about routing I am posting this question here. Let's say that I have an with a side-menu. It is a tree structure; there is no shortcut from a lower level menu item (e.g. Item 1.1) to another lower level item (e.g. Item 2.1) from a different Menu.

I am not making use of Redux by the way. In the App component I initialise the routing for the Root comp

[2016-12-09 15:05] asial-matagawa commented on #94
This issue seems to have already been solved by #139. Closing this.

[2016-12-12 05:38] asial-matagawa commented on #94
This issue seems to have already been solved by #139. Closing this.

[2016-12-12 05:38] #94 closed

[2016-12-13 02:36] frankdiox commented on #147
Thanks. This was fixed in the core some time ago and will be available from the next release.

[2016-12-13 02:36] #147 closed

[2016-12-13 02:38] frankdiox commented on #174
@lamuertepeluda Oh, we don't provide Windows styles, only Android and iOS. Actually we recently removed Windows from the officially "supported" platform because we don't have resources for testing in Windows right now. It probably works (without Windows styles) but we cannot test.

[2016-12-13 02:38] #174 closed

[2016-12-13 08:24] lamuertepeluda commented on #174
@frankdiox I see, thank you for making it clear 😃
Hope for future reintroduction of the UWP support. In the meanwhile I'll see if the app can work without Windows styles.

[2016-12-21 16:18] #180 closed

[2016-12-28 15:49] baptisteDarcq opened #208 "PullHook height property"
When a PullHook component is initialize with the 'height' property:
`<PullHook height={20} />`
An error occured caused by the undefined _pageElement at the line 23110 (this._pageElement.style.marginTop = '-' + height + 'px';)

[2016-12-30 00:34] lirenhao commented on #208
Me too, Cannot read property 'style' of undefined in (this._pageElement.style.marginTop = '-' + height + 'px';)

[2016-12-31 10:45] NgKhanh commented on #107
@argelius  It shound be on document

[2017-01-01 12:56] GoaGit commented on #163
@argelius I am facing the same issue as reported by @airamrguez with version 1.0.1.

The behavior 'all pages in the stack are now rendered a lot of times' can be reproduced in the React Reference for the Navigator component at https://onsen.io/v2/docs/react/Navigator.html. I assume that this app uses version 1.0.1 as well.

Just add ``console.log( `rendered: ${route}` );`` to ``renderPage: functio

[2017-01-01 22:29] mcku commented on #166
I am facing the same issue as well.

[code]
when processed by jest, results in:
[code]

`    "react-onsenui": "0.7.8", `

[2017-01-04 19:48] mihailp commented on #163
I experience the same issue. Just updated to latest module version and my app became totally unusable. It goes into a dead loop, pushing page after page.

[2017-01-05 19:17] mcku commented on #152
I have just noticed the `dtsmake` tool by  ConquestArrow, which generates .d.ts to some extent.

[2017-01-14 15:34] wildeyes commented on #153
Can you elaborate? I'm not sure what do you want.

[2017-01-16 06:00] lirenhao opened #230 "Uncaught TypeError: Cannot set property 'checked' of null"
When using the Tabbar, this error occurs
[code]

[2017-01-18 01:31] lirenhao opened #231 "Uncaught TypeError: Cannot read property 'length' of undefined"
When using Navigator in Navigator, the following error occurs
[code]

[2017-01-19 07:20] lirenhao commented on #231
This is the problem that has been resolved in 1.1.0version,Added the judgment as follows
[code]

[2017-01-19 07:20] #231 closed

[2017-02-12 20:04] tangentlin commented on #152
Anyone has success with d.ts so far, and use it for your Onsen project?

[2017-02-23 10:14] lamuertepeluda commented on #58
I can add my 2 cents on this issue saying that I kinda make it work (wanna be 100% sure of that, now I feel like 99%) in a setup with `redux`, `react-router` (v3), `react-router-redux` and `react-onsenui` navigator (and using Material UI instead of Onsen UI components, but this is off-topic here).

The biggest problem for me was all those re-rendering caused probably by too many forceUpdate() bein

[2017-02-23 21:19] dagatsoin commented on #166
Same here
[code]

[2017-02-28 20:18] erickles opened #232 "Documentation not reachable"
Trying to access https://onsen.io/v2/react.html, but the react documentation it seems to be offline...

[2017-03-08 05:14] frandiox commented on #153
I didn't know about this issue... https://github.com/OnsenUI/OnsenUI/pull/1855

[2017-03-08 05:14] #153 closed

[2017-03-14 23:01] mcku commented on #166
This is likely because that `jsdom` does not faclilitate animations or css transitions. We should get around animations, perhaps by mocking. Or maybe by enzyme shallow rendering instead of full mount, I don't know. It would be nice if animations could be skipped just for unit tests.

After looking at animit.js, below is what jsdom provides as a result of `window.getComputedStyles` (for the curious

[2017-03-15 05:40] frandiox commented on #166
@mcku I think it is possible to avoid the `Invalid state` error from the tests by applying a very dirty fix. However, I'm not sure if something else related to animations will fail.

Can you try something like this in your tests just to check?
[code]

In Jest, for example, this should run in `setupTestFrameworkScriptFile`.

Pinging @anatoo here.

[2017-03-16 08:42] mcku commented on #166
@frandiox  It looks like there are a lot steps to take. In this [SO](http://stackoverflow.com/questions/39843192/react-onsenui-mocha-test-error-error-invalid-state) post many of them are listed.
In addition some of them are related to `document-register-element`. I have noticed `document-register-element/pony`, which no longer detects user agent (previously jsdom was being detected as IE8), and us

[2017-04-13 10:40] lirenhao commented on #230
Use babel-polyfill after this error

[2017-06-03 03:39] netcell commented on #163
Is there any update on this?